@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
:root{
  ---font-family:'Roboto', sans-serif;
  ---primary:#C89D7C;
  
}

.title-and-recipe h1{
  font-weight: 700;
}
.title-and-recipe p {
    color: var(---primary);    
    /* line-height: 40px; */
}